@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.multiLineButton af|button::text {
    white-space: normal;
}
/*
table.x14d.x152 {
    width: 100% !important;
}

.x14m {
    width: 100% !important;
}

.x2c {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    color: #333333;
    background-color: #FCFDFE;
    border-color: #DFE4E7;
    border-radius: 2px 0 0 2px;
    background-image: none;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    padding: 0 5px;
    vertical-align: middle;
    height: 28px;
    width: 83%;
    display: inline-block;
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
    border-color: #000;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
}

.x1bn {
    font-size: 14px;
    margin-left: 1px;
    margin-right: 1px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-color: #FCFDFE;
    border-color: #DFE4E7;
    border-radius: 0 2px 2px 0;
    
    background-position: left center;
    padding-right: 5px;
    width: 20px;
    height: 28px;
    vertical-align: middle;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #000;
    display: inline-block;
    margin: 0px 0px 0px -2px;
    border-radius: 0px 10px 10px 0px;
    -webkit-box-sizing: border-box;
}

@media only screen and (max-width:218px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:320px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 36px !important;
        width: 182px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:360px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:375px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:414px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:480px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:640px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:568px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:667px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:736px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:800px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:812px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:960px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}

@media only screen and (max-width:1280px) {
    .x25 {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        padding: 1px 2px 1px 3px;
        margin: 1px;
        overflow-x: hidden;
        overflow-y: auto;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    .x2b {
        font-family: Tahoma, Verdana, Helvetica, sans-serif;
        font-weight: normal;
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        background-color: #FAFDFF;
        border: 1px solid #DEE4E7;
        margin: 1px;
        padding-left: 3px;
        background-image: none;
        color: #000;
        border-color: #191913;
        font-size: 14px;
        height: 44px !important;
        width: 230px !important;
        -webkit-appearance: none;
    }
    table.x14d.x152 {
        width: 100% !important;
    }
    .x14m {
        width: 100% !important;
    }
    .x130 {
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        background-color: #FAFAFA;
    }
}
*/
/*login text box height**/
.PQLoginPageUser af|inputText::content
{
    height:30px;
    color:#8b0037;
    font-weight: 800;
    background-image:url("../icons/imgUser.png");
    vertical-align: middle;
    text-align: center;
    
    background-repeat: no-repeat;
}
.PQHeaderColor{
    background-color:#8b0037;
    color:White;
}
.PQLoginPagePassword af|inputText::content
{
    height:30px;
    color:#8b0037;
    font-weight: 800;
    background-image:url("../icons/imgLock.png");
    vertical-align: middle;
    text-align: center;
    
    background-repeat: no-repeat;
}

.PQLoginBackGroundImage{
    background-image: url("../images/imgLoginBackground.jpg");
     background-repeat: no-repeat;
     background-size:100.0%;
}
wide {

    display: inline;

}



.narrow {

    display: none;

}

@media screen and (max-width:768px) {

            .narrow {

                display: inline;

            }

            .wide {

                display: none;

            }

        }